:root {
    --black: rgba(10, 10, 10, 1);
    --blue: rgba(12, 103, 237, 1);
    --white: rgba(255, 255, 255, 1);
    --transparent: rgba(10, 10, 10, 1);
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Variable.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    color: var(--black);
    font-family: "Inter", Arial;
    font-weight: 400;
    font-style: normal;
    font-size: 11px;
    text-decoration: none;
    box-sizing: border-box;
}

header, .header-btns, button {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
}

header{
    height: 65px;
    background-color: var(--black);
}

body {
    background-color: var(--white);
    width: 400px;
    height: 400px;
    padding: 0px;
}

#logo1 {
    margin-left: 16px;
    margin-top: 15px;
    height: 30px;
}

#warning {
    height: 80px;
    width: auto;
    margin-left: 20px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    gap: 2px;
    margin: 20px;
    width: 200px;
}

button:hover, .custom-checkbox {
    cursor: pointer;
}

.header-btns > button {
    background-color: var(--transparent);
    margin-left: 6px;
}

body > button {
    font-size: 13px;
    width: 92%;
    margin: 8px 0;
    margin-left: 14px;
    background-color: var(--blue);
    padding: 20px;
}

.icon {
    width: 13px;
    height: 13px;
    fill: currentColor;
}

.table-container {
    margin: 6px 0px;
    width: 90%;
    border-radius: 3px;
    padding: 2px;

}


table {
    table-layout: fixed;
    width: 400px;
    border-collapse: separate;
    border-spacing: 0 3px;
    margin-left: -2px;
}

td{
    border-bottom: 0.5px solid #cfcfcf;
}


th:nth-child(1), td:nth-child(1) { width: 18%; padding-left: 4px; }  /* Score */
th:nth-child(2), td:nth-child(2) { width: 38%; }  /* Asset */
th:nth-child(3), td:nth-child(3) { width: 16%; }  /* Last */
th:nth-child(4), td:nth-child(4) { width: 13%; }  /* Change */
th:nth-child(5), td:nth-child(5) { width: 16%; }  /* Volume */


tbody td{
    padding: 6px 0;
}

.profile-icon {
    background-color: var(--blue); 
    border-radius: 25px; 
    width: fit-content; 
    padding: 8px; 
    margin-top: 18px; 
    margin-right: 20px; 
    color: white;
}