:root {
    --black: rgba(10, 10, 10, 1);
    --blue: rgba(12, 103, 237, 1);
    --white: rgba(255, 255, 255, 1);
    --light-bg: rgba(245, 246, 249, 1);
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Variable.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    color: var(--white);
    font-family: "Inter", Arial;
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    line-height: 1.75em;
    letter-spacing: -.0125em;
    box-sizing: border-box;
}

html {
    background-color: var(--black);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

h1 {
    font-size: 4em;
    line-height: 1.75em;
}

h2 {
    font-size: 3em;
    line-height: 1.25em;
}

h3 {
    color: var(--black);
    font-size: 2.2em;
    line-height: 1.5em;
}

h4 {
    color: var(--black);
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
    font-weight: 200;
    margin: 1em 0;
}

@keyframes dropDownFadeIn {
    from {
        transform: translateY(-15px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    padding: 2em;
    animation: dropDownFadeIn 1s ease forwards;
    opacity: 0;
}

header .left,
.right {
    width: 30%;
}

header .left{
    display: flex;
    align-items: center;
}

header .right {
    text-align: right;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin: 0 1.25em;
}

#logo {
    height: 36px;
    width: 100px;
}

.coming-soon-btn {
    border: none;
    background-color: rgba(250, 250, 250, 0.1);
    height: 40px;
    padding: 0 20px;
    border-radius: 10px;
}

#home {
    width: 100%;
    text-align: center;
}

#cone, 
#love, 
#circle, 
#square, 
#donut {
    position: absolute;
    z-index: -1;
    opacity: 0;
    transform: translateY(25px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#cone{
    width: 200px;
    top: 2vh;
    left: 42vw;
}

#love{
    width: 200px;
    top: 20vh;
    right: 12vw;
}

#circle{
    width: 200px;
    top: 60vh;
    right: 18vw;
}

#square{
    width: 230px;
    top: 60vh;
    left: 16vw;
}

#donut{
    width: 260px;
    top: 20vh;
    left: 10vw;
}

.hero {
    padding-top: 16vh;
    padding-bottom: 22vh;
    transition: opacity 0.1s ease;
}

.hero h5{
    margin: auto;
    max-width: 590px;
}

.tag {
    font-size: 0.8em;
    font-weight: 200;
    width: fit-content;
    margin: 1em auto;
    border-radius: 5px;
    padding: 2px 10px;
}

.light {
    background-color: rgba(250, 250, 250, 0.1);
}

.dark {
    background-color: rgba(0, 0, 0, 0.1);
}

.sib-form {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: row;
}

#error-message,
#success-message {
    border: none;
}

.sib-form-message-panel__inner-text {
    margin: -0.4375rem;
    font-size: 0.8em;
    color: greenyellow;
}

.form__label-row {
    color: gray;
    background-color: rgba(250, 250, 250, 0.1);
    border-radius: 10px;
    border: none;
    font-size: 0.8em;
    font-weight: 200;
    width: min(60vw, 400px);
    height: 45px;
    padding: 4px 0 0 10px;
    margin: 0 -24px;
}

.sib-form-block__button{
    color: var(--black); 
    font-size: 0.8em;
    background-color: var(--blue); 
    border-radius: 10px;
    border: none;
    text-align: center; 
    height: 45px;
    width: 108px;
}

.mockup-container{
    display: flex;
    justify-content: center;
}

#mockup {
    z-index: 1;
    display: flex-end;
    margin-top: auto;
    width: min(95vw, 525px);
}

main {
    text-align: center;
    background-color: var(--light-bg);
    border-radius: 30px;
    height: fit-content;
    padding: 5em;
}

main p,
main .tag,
main span {
    color: var(--black);
}

.flex-box-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
}

.flex-box {
    background-color: var(--white);
    flex: 1;
    margin: 10px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-box.visible {
    opacity: 1;
    transform: translateY(0);
}

.flex-box:nth-child(1),
.flex-box:nth-child(2),
.flex-box:nth-child(3) {
    flex-basis: calc(33% - 20px);
}

.flex-box .text {
    max-width: 75%;
    margin: 10px 0 50px 0;
}

.flex-box .text p {
    font-weight: 200;
}

#ai,
#game,
#personalize {
    width: 280px;
}

#feature-img{
    width: 180px;
}

#faq{
    margin-top: 5em;
}

#dropdown {
    height: 16px;
    width: auto;
}

.questions-container {
    max-width: 800px;
    margin: 30px auto;
    padding: 0 1em;
}

.question button {
    width: 100%;
    border: None;
    background-color: var(--light-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px 0;
    text-align: left;
}

.question {
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}

.question p {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: padding-bottom 0.3s ease, max-height 0.3s ease, opacity 0.1s;
    line-height: 1.5;
    text-align: left;
    font-weight: 200;
}

.question p.show {
    max-height: 200px;
    opacity: 1;
    padding-bottom: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 5em 7.5%;
}

.footer {
    max-width: 500px;
}

.footer img{
    width: fit-content;
    margin-top: 4em;
    margin-bottom: 2em;
}

.more-information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid rgba(250, 250, 250, 0.3);
    padding-top: 2em;
    margin-top: 2em;
}

.more-information nav a,
.more-information p {
    font-size: 0.8em;
    color: rgba(250, 250, 250, 0.3);
    margin: 0 1em;
}

.flex-box img{
    margin: 0 3em;
}



@media only screen and (max-width: 1150px) {
    main {
        padding: 5em 2em;
    }


    h1 {
        font-size: clamp(2.8em, 10vw, 4em);
        line-height: 1.4em;
        margin: .2em 0;
    }

    #cone, 
    #circle,
    #square {
        display: none;
    }

    #donut{
        top: 10vh;
        left: 6vw;
    }

    #love {
        top: 60vh;
        right: 6vw;
    }

    .hero{
        padding: 8vh .5em 12vh .5em;
    }


    #ai,
    #game,
    #personalize {
        width: min(75vw, 480px);
    }

    .flex-box {
        width: 100%;
    }

    header .center,
    .right{
        display: none;
    }

    header .left{
        margin: auto;
        text-align: center;
    }

    header .left img{
        margin: auto;
        text-align: center;
    }


    footer, .more-information{
        align-items: center;
        text-align: center;
    }

    .more-information{
        flex-direction: column;
        width: 90%;
        padding-top: 3em;
    }

    .more-information nav{
        display: flex;
        flex-direction: column;
    }

    .more-information nav a,
    .more-information p {
        margin-top: 2em;
    }

    form{
        flex-direction: column;
    }

    .sib-form-block__button,
    .form__label-row {
        width: 350px;
    }
}

